@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100;200;300;400;500&family=Noto+Serif+Lao:wght@100&family=Oswald:wght@200&family=Roboto:wght@100;300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: "#31a7fb";
}
body {
  font-family: "Noto Sans Lao", sans-serif;
  background-color: #F4F7FC;
}
/*  ------------------------------------------------- Pagination --------------------------------- */


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* This is custom CSS */
/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

/* For Firefox */
::-moz-scrollbar {
  width: 5px;
}

::-moz-scrollbar-thumb {
  background-color: #4A90E2;
  border-radius: 5px;
}



